<?xml version='1.0' encoding='utf-8'?>
<widget id="com.photogo.android" version="0.0.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GoPrints</name>
    <description>
      Upload your favorite photos from your phone, Facebook and Instagram and create GoPrints in minutes. 8x thicker than photo paper, a GoPrint is the best way to preserve your memories in vintage style. GoPrint from anywhere and pickup in store or ship anywhere in the U.S.
    </description>
    <author email="dev@photoandgo.com" href="http://photoandgo.com">
       GoPrints
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <access origin="https://api.photoandgo.com:3001" />
     <access origin=" https://*.stripe.com/" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
     <preference name="orientation" value="portrait" /> 
     <preference name="SplashScreen" value="res/drawable/screen.png" />
</widget>
